.THIS .content_container_header{
    display: flex;
    align-items: flex-end;
}
.THIS .search_input{
    flex:1;
    margin-right: 5px;
}
.THIS .slds-modal__container {
    max-width: 80rem;
    min-width: 60rem;
}
.THIS .content_container_datatable{
    padding-top: 10px;
}